* {
margin:0;
padding:0;
}

html, body{
height: 100%;
}

body{
font-family: 'Palatino Linotype','Book Antiqua','Palatino',serif;
background:  url('../jn-files/robots-sketch.png');
}


#wrapper {
	margin: 0 auto;
	width: 1020px;
	margin-top:20px;
	background: #BCCCED;
	border: 1px solid #444;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;	
	-moz-box-shadow: 0 0 10px;
	min-height: 100%; /* make wrapper extend to bottom of browser */
}

* html div#wrapper { /* for IE6 - make wrapper extend to bottom of browser */
height: 100%;
}

/*  1. NAVIGATION
*/
#top {
	position: relative;
	background-color: #666;
	height: 70px;
	margin-bottom: 40px;
}


#navigation {
	margin: 0 auto;
	font-family: 'Cherry Cream Soda', Arial, serif;
}

#navigation li {
	font-size: 25px;
	float: right;
	list-style: none;
	height: 70px;
}

#navigation > ul > li:hover {
	background-color: #BCCCED;
}

#navigation > ul > li > a {
	display: block;
	color:#FFF;
	text-decoration: none;
	padding: 19px 10px;
}

#navigation ul > li.selected {
	background-color: #6BA34D;
	box-shadow: 0px 4px 2px #666;
	-webkit-box-shadow: 0px 4px 2px #666;
	-moz-box-shadow: 0px 4px 2px #666;
}

#navigation ul > li.selected > a:hover {
	cursor: default;
}

#navigation li > ul {
	position: absolute;
	float: right;
	right: 0;
	top: 70px;
	display: none;
	width: 960px;
	color: #5C5349;
	margin: 0 auto;
}

#navigation li:hover ul{
	display: block;
}

#navigation li ul a:hover {
	color: #777;
}

#navigation li ul a {
	border-left: 1px   black;
	font-size: 20px;
	padding: 5px 10px;
	display: inline;
	color: #FFF;
	text-decoration: none;
}

#navigation p {
	float: left;
	position: relative;
	display: block;
	font-size: 50px;
	padding-left: 50px;
	color: #BCCCED;
	padding-top: 12px;
}


/*	2.  CONTENT
*/

#content{
position: relative;
padding-left: 15px;
margin: 35px 0 20px 85px;
width: 830px;
height: 250px;
font-weight: bold;
background:#F4F4F4;
border: 2px solid #222;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 3px;
-moz-box-shadow: 0 0 3px;
-webkit-box-shadow: 0 0 3px;
}

#content h1 {
font-size: 35px;
color: #666;
font-family: Arial;
}

#content p {
font-size: 22px;
color: #222940;
}

#content p.small {
font-size: 15px;
}

#content a {
font-weight: bold;
color: #375CA6;
}

#content a:visited {
color: #375CA6;
}


#content p a:hover {
font-weight: bold;
text-decoration: none;
}

#about-me {
	border: 1px #000 black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #FFF; 
} 

#about-me th {
	
}

#about-me td{

}

/*	4.  KEYBOARD
*/
#keyboard-surround {
width: 960px;
margin: 0 auto;
position: relative;
}

/* 5.	CONTACT FORM
*/

#commentForm{
	position:fixed;
	width:400px;
	top:190px;
	right:-410px;
	z-index:3;
	background-color:#000;
	padding-bottom:16px;
	padding-left: 10px;
	box-shadow: 0 0 8px #FFF;
	-webkit-box-shadow: 0 0 8px #FFF;
	-moz-box-shadow: 0 0 8px #FFF;
}

/*
#commentForm:hover{
right:0px;
}
*/

#commentForm h4{
	cursor:pointer;
	background-color:#000;
	padding:10px;
	color:#FFF;
	font-variant:small-caps;
	text-align:center;
	position:absolute;
	left:-30px;
	width:10px;
	box-shadow: -2px 2px 5px #FFF;
	-webkit-box-shadow: -2px 2px 5px #FFF;
	-moz-box-shadow: -2px 2px 5px #FFF;
}

#commentForm h4:hover{
	background-color:#888;
	color:#000;
	box-shadow: -2px 2px 5px #000;
	-webkit-box-shadow: -2px 2px 5px #000;
	-moz-box-shadow: -2px 2px 5px #000;	
}

label {
	display: block;
}
label.valid {
	width: 24px;
	background: url(../jn-files/valid.png) no-repeat;
	text-indent: -9999px;
}

label.error {
	padding-right: 20px;
	display: inline-block;
	color: #F00;
}

input {
	display: inline-block;
	width: 220px;
}

textarea {
	width: 350px;

}

form {
	background-color: #000;
	color: #FFF;
}

form div {
	padding: 5px;
/*	width: 100%; */
}

button {
  margin-top: 10px;
}


/* 6.	RESOURCES TABS
*/

#tabs-wrapper {
	background-color: #777;
	width: 960px;
	padding-bottom: 20px;	
	margin: 20px auto;
	border: 1px solid #333;
}

div#tabs-wrapper .height {
	height:2000px;
}

#tabs {
	position: relative;
	width: 900px;
	padding: 0;
	padding-top: 20px;
	margin: 0 auto;
	font-family: 'Cherry Cream Soda', Arial, serif;
	z-index: 1;
}

#tabs ul {
	list-style: none;
}

#tabs li {
	font-size: 20px;
	float: left;
	margin-right: 5px;
	margin-bottom: -1px;
}

#tabs li a {
	display: block;
	color: #F4F4F4;
	text-decoration: none;
	padding: 10px 10px;
	background-color: #275B8A;
	border: 1px solid #000;
	border-bottom: none;
	padding: 10px 20px 5px 20px;
}

#tabs li a.active {
	background-color: #F4F4F4;
	color: #666;
	border-bottom: 1px solid #F4F4F4;
}

#tab-content {
	width: 900px;
	padding: 0;
	margin: 0 auto;
	margin-left: 30px;
	float: left;	
}

#single-tab {
	background: #F4F4F4;
	border: 1px solid #000;
}

#tab-content p {
	padding-left: 10px;
}

#tab-content a {
font-weight: bold;
color: #375CA6;
}

#tab-content a:hover {
font-weight: bold;
color: #375CA6;
text-decoration: none;
}

#tab-content a:visited {
color: #375CA6;
}

dl {
	width:850px; 
	margin: 0 auto;
}

dl dt {
	margin: 0;
	padding: 5px 0 0  5px;
	font-weight: bold;
	border-top: 1px solid #999;
}

dl dd
{
	padding: 5px;
}

dl dt:first-child {
	border-top: none;
}

dd img {
	margin: 0 0 5px 10px;
	float: right;
	box-shadow: 0px 1px 5px;
}

dd img.hover {
	box-shadow: none;
	border: 1px solid #000;
	background-color: #000;
	width: auto;
	height: auto;
}

.clearfix
{
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 7.	CONTENT FRAMES
*/



#box {
	background-color: #FFF;
	box-shadow: 5px 5px 5px #333;
	-webkit-box-shadow: 5px 5px 5px #333;
	-moz-box-shadow: 5px 5px 5px #333;
	width: 300px;
	margin-bottom: 10px;
}

#box p {
font-family: 'Palatino Linotype','Book Antiqua','Palatino',serif;
font-size: 20px;
padding: 4px;
}

#box2 {
	background-color: #FFF;
	box-shadow: 5px 5px 5px #333;
	-webkit-box-shadow: 5px 5px 5px #333;
	-moz-box-shadow: 5px 5px 5px #333;
	position: relative;
}

.brown {
	color: #5C5349;
}

.darkred {
	background-color: #A23052;
}

.indigo {
	color: #375CA6;
}

.soundOff {
	display: none;
	cursor: pointer;
	cursor: hand;
}

.soundOn {
	cursor: pointer;
	cursor: hand;
}

.right {
	float: right;
	padding-right: 10px;
}